<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.music.spotui.permission.READ_WHITELIST"
        android:protectionLevel="signature" />

    <application>
        <provider
            android:name=".util.KosherWhitelistProvider"
            android:authorities="com.music.spotui.admin.provider.whitelist"
            android:exported="true"
            android:readPermission="com.music.spotui.permission.READ_WHITELIST"
            android:grantUriPermissions="false" />
    </application>

</manifest>
